
.bg-couleurs_blanc {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -10px -10px;
}

.bg-couleurs_ivoireclair {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -85px -10px;
}

.bg-couleurs_beigegris {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -10px -85px;
}

.bg-couleurs_vertmousse {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -85px -85px;
}

.bg-couleurs_brunsepia {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -160px -10px;
}

.bg-couleurs_rougepourpre {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -160px -85px;
}

.bg-couleurs_bluegris {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -10px -160px;
}

.bg-couleurs_bluepigeon {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -85px -160px;
}

.bg-couleurs_grisclair {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -160px -160px;
}

.bg-couleurs_grispierre {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -235px -10px;
}

.bg-couleurs_grisardoise {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -235px -85px;
}

.bg-couleurs_noirfonce {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -235px -160px;
}

.bg-couleurs_aluminiumblanc {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -10px -235px;
}

.bg-couleurs_teck {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -85px -235px;
}

.bg-couleurs_chenefonce {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -160px -235px;
}

.bg-couleurs_acajoufonce {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -235px -235px;
}

.bg-couleurs_wengue {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -310px -10px;
}

.bg-couleurs_acajouclair {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -310px -85px;
}

.bg-couleurs_cheneclair {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -310px -160px;
}

.bg-couleurs_hetre {
    width: 55px; height: 55px;
    background: url('../img/couleurs_sprites.png') -310px -235px;
}