.alcof-reviews {
    font-family: $body-font;
    .wprs_unslider {
        .wprev-slider {
            .wprevpro_t1_outer_div {
                .wprevpro_t1_DIV_1 {
                    font-family: $body-font;
                    .wprevpro_t1_DIV_2 {
                        background: $alcof-grey;
                        box-shadow: initial !important;
                        border-radius: $spacing-xs !important;
                        &:after {
                            display: none !important;
                        }
                    }
                    .wprevpro_t1_SPAN_5 {
                        text-transform: capitalize;
                        color: $alcof-dark;
                        font-weight: 700;
                        .wprev_showdate_T1 {
                            color: $alcof-charcoal;
                            font-weight: 500;
                        }

                    }
                }
            }
        }
        .wprs_unslider-arrow {
            &.prev {
                left: 0;
            }
            &.next {
                right: 0;
            }
        }
    }
}