#left-sidebar {
    &.widget-area {
        padding: 0;
        h4 {
            padding-bottom: $spacing;
            margin-bottom: $spacing-md;
            &:after {
                position: absolute;
                content: "";
                width: 30px;
                height: 3px;
                top: initial;
                bottom: 0;
                left: 0;
                background: $primary;
                margin: 0;
              }
        }
        h3 {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin: 12px 0;
            padding: 0;
            &:after {
                display: none;
            }
        }
        .berocket_single_filter_widget {
            margin-bottom: $spacing-sm;
            padding-bottom: $spacing;
            border-bottom: 1px solid $alcof-border-color;
            .bapf_sfilter {
                .bapf_body {
                    ul {
                        padding: 0;
                        li {
                            label {
                                margin: 0;
                            }
                        }
                    }
                }
                input[type=checkbox] {
                    background: $alcof-grey;
                    border: 2px solid $alcof-border-color;
                    box-sizing: border-box;
                    border-radius: 1px;
                    width: 13px;
                    height: 13px;
                    margin-right: $spacing;
                    &:checked {
                        background: $primary;
                        border: 0;
                    }
                }
            }
        }
        .widget_product_search {
            .input-group {
                .form-control {
                    width: 100%;
                }
            }
        }
        .widget {
            .widget-title {
                padding: 0 0 $spacing 0;
                margin-bottom: $spacing-md;
            }
            &.widget_layered_nav {
                border-bottom: 1px solid $gray-300;
                padding: $spacing-sm 0;
                .widget-title {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 14px;
                    margin-bottom: $spacing;
                    &:after {
                        display: none;
                    }
                }
                .woocommerce-widget-layered-nav-list {
                    .woocommerce-widget-layered-nav-list__item {
                        a {
                            color: $alcof-dark;
                            position: relative;
                            padding-left: $spacing-lg;
                            &:before {
                                position: absolute;
                                content:"";
                                width: 14px;
                                height: 14px;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                left: 8px;
                                background: $gray-200;
                                border: 1px solid $alcof-border-color;
                            }
                        }
                        &--chosen {
                            a {
                                &:before {
                                    background: $primary;
                                    border: 1px solid $primary;
                                }
                            }
                        }
                        .count {
                            display: none;
                        }
                    }
                }
            }
        }
        
        ul.product-categories {
            padding: $spacing-lg $spacing-lg 0 0;
            list-style: none;
            border-top: 1px solid $gray-300;
            li.cat-item {
                padding: $spacing-xs 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .count {
                    color: $alcof-gray;
                }
            }
        }
    }
}